
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Create a new doctor</h1>

    <form action="/doctors" method="post">
        <label for="name">doctor Name:</label>
        <input type="text" name="name" id="name">

        <button type="submit">Create doc</button>
    </form>
</body>
</html>
