<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>All Appointments</h1>

    <% allAppointment.forEach((oneAppointment)=>{ %>
        <div>
            <h2>Title: <%= oneAppointment.title %></h2>
            <p>Price: <%= oneAppointment.price %></p>
            <p>Authors:</p>
            <ul>
                <% oneAppointment.doctor.forEach((oneAppointment)=>{ %>
                    <li><%= oneDoctor.name %></li>
                <% }) %>
            </ul>
            <a href="/appointment/<%= oneAppointment._id %>">See Appointment Details</a>
        </div>

        <% }) %>
</body>

</html>