<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new appointments</h1>
    <form action="/appointments" method="post">

        <label for="title">Title:</label>
        <input id="title" name="title" type="text">

        <label for="time">time</label>
        <input id="time" name="time" type="time">

        <label for="reason">reason:</label>
        <input name="reason" id="reason" type="text">

         <label for="notes">notes:</label>
        <input name="notes" id="notes" type="text">        


        <label for="doctor">doctor:</label>
        <select multiple name="doctor" id="doctor">
            <% alldoctors.forEach((onedoctor)=>{ %>
                <option value="<%= onedoctor._id %>"><%= onedoctor.name %></option>
            <% }) %>
        </select>

        

        <button>Create doctor</button>
    </form>
</body>
</html>
